/* -------------Defaults ------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding:0;
}
/* ----------------------------- */

/* ---------- Landing Section ------------*/
section {
    margin: 0;
    padding: 0;
}

section.landingPage div.carousel{
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

section.landingPage div.carousel nav {
    display: block;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 20px;
    right: 15px;
    height: 40px;
    z-index: 999;
}

section.landingPage div.carousel nav ul.topnav {
    /* background-color: rgba(0, 0, 0, 0.404); */
    overflow: hidden;
    margin: 0;
    padding: 0;
    float:right;
}

section.landingPage div.carousel nav ul.topnav li {
    list-style: none;
    float: left;
    padding: 20px;
}

section.landingPage div.carousel nav ul.topnav li a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: all .7s;
}

section.landingPage div.carousel nav ul.topnav li a:hover {
    cursor: pointer;
    color: rgb(255, 71, 25);;
    border-bottom: 2px solid rgb(255, 71, 25);
}

section.landingPage div.carousel nav ul.topnav li.dropDownIcon {
    display: none;
    font-size: 2em;
}


section.landingPage div.carousel div.item {
    margin: 0;
    padding: 0;
    height: 100vh; 
}

section.landingPage div.carousel #slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(bgImages/background1.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

section.landingPage div.carousel #slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(bgImages/background2.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

section.landingPage div.carousel #slide3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(bgImages/background3.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

section.landingPage div.carousel #slide4 {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(bgImages/background4.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

section.landingPage header div.introduction {
    width: 65%;
    /* background-color: red; */
    padding: 50px 40px 50px 160px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    color: #fff;
}

section.landingPage header div.introduction h1 {
    font-weight: 200; 
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

section.landingPage header div.introduction h1 p{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
}

section.landingPage header div.introduction p{
    font-size: 1.2em;
    text-align: justify;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    word-spacing: 1px;
}

section.landingPage header div.introduction .buttonWrap {
    margin-top: 30px;
}

section.landingPage header div.introduction button {
    padding: 10px 50px;
    color: white;
    font-weight: 700;
    font-size: 1.3em;
    background-color: rgb(255, 71, 25);
    border: 1px solid white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    transform: scale(1);
    transition: all .2s;   
}

section.landingPage header div.introduction button:hover {
    border: 1px solid rgb(255, 71, 25);
    background-color: transparent;
    color: rgb(255, 71, 25);
    -webkit-box-shadow: -5px 15px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 15px 5px 1px rgba(0,0,0,0.75);
    box-shadow: -5px 15px 5px 1px rgba(0,0,0,0.75);
    transform: scale(1.2);
}

section.landingPage header div.introduction button:active {
    transform: scale(1);  
}

section.landingPage .bottom {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 4rem;
    font-weight: 900;
    color: white;
}

/* ----------------------------------------- */

/* ------------- About Section -------------- */
section.about {
    margin: 0;
    padding: 0;
    height: auto;
    position: relative;
    padding: 60px 0px;
    font-family: 'Lato', sans-serif;
    background-color: #eee;
}

section.about h2 {
    text-transform: uppercase;
    font-size: 2em;
    padding-left: 30px;
    position: relative;
    bottom: -8%;
}

section.about h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12em;
    padding-left: 30px;
}

section.about h6 {
    margin: 0 0 30px 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2em;
    padding-left: 58%;
    position: relative;
    top: -7%;
}

section.about .first {
    padding-top: 20px;
}

section.about img{
    width: 100%;
    height: 250px;
}

section.about .forPara {
    padding: 30px;
}

section.about p {
    text-align: justify;
}



/* ------------------------------------------ */

/* ---------------Projects Section--------- */
section.projects {
    /* background-color: red; */
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
    padding: 60px 0;
}

section.projects div.container h1 {
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 700; */
    text-align: center;
}

section.projects div.container p {
    text-align: center;
}

section.projects div.container .card {
    /* background-color: red; */
    padding:0;
    z-index: 888;
    /* border: 1px solid rgb(160, 160, 160); */
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10%;
    -webkit-box-shadow: 10px 10px 25px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: 10px 10px 25px -3px rgba(0,0,0,0.52);
    box-shadow: 10px 10px 25px -3px rgba(0,0,0,0.52);
    transition: all .2s;
    margin-right: 40px;
}

section.projects div.container .card:hover {
    -webkit-box-shadow: 2px 3px 8px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 3px 8px 1px rgba(0,0,0,0.55);
    box-shadow: 2px 3px 8px 1px rgba(0,0,0,0.55);
}

section.projects div.container .card:hover .color1 {
    transform: scale(1.05);
}

section.projects div.container .card:hover .color2 {
    transform: scale(1.05);
}

section.projects div.container .card:hover .color3 {
    transform: scale(1.05);
}

section.projects div.container .first .color1 {
    height: 180px;
    background-blend-mode: screen;
    background-image: linear-gradient(to right bottom, #fb8f54,#fdcb40b2), url(../images/bigmart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s;
}

section.projects div.container .second .color2 {
    height: 180px;
    background-blend-mode: screen;
    background-image: linear-gradient(to right bottom, #2998ff,#5643fa), url(../images/stockprices.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s;
}

section.projects div.container .third .color3 {
    height: 180px;
    background-blend-mode: screen;
    background-image: linear-gradient(to right bottom, #28b485,#55c75a), url(../images/handwriting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .3s;
}

section.projects div.container .first h4 {
    color: #fb8f54;
    margin-top: 30px;
}

section.projects div.container .second h4 {
    color: #2998ff;
    margin-top: 30px;
}

section.projects div.container .third h4 {
    color: #28b485;
    margin-top: 30px;
}

section.projects div.container .card h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

section.projects div.container .card h5 {
    padding: 0 15px 15px 15px;
    text-align: justify;
}

section.projects div.container .card button {
    width: 60%;
    padding: 10px 0px;
    border-radius: 7px;
    border: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all .2s;
}

section.projects div.container .first button {
    background-color: #fb8f54;
}

section.projects div.container .first button:hover {
    background-color: transparent;
    color: #fb8f54;
    border: 1px solid #fb8f54;
    -webkit-box-shadow: 7px 6px 23px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: 7px 6px 23px -3px rgba(0,0,0,0.52);
    box-shadow: 7px 6px 23px -3px rgba(0,0,0,0.52);
}

section.projects div.container .second button {
    background-color: #2998ff;
}

section.projects div.container .second button:hover {
    background-color: transparent;
    color: #2998ff;
    border: 1px solid #2998ff;
    -webkit-box-shadow: 7px 6px 23px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: 7px 6px 23px -3px rgba(0,0,0,0.52);
    box-shadow: 7px 6px 23px -3px rgba(0,0,0,0.52);
}

section.projects div.container .third button {
    background-color: #28b485;
}

section.projects div.container .third button:hover {
    background-color: transparent;
    color: #28b485;
    border: 1px solid #28b485;
    -webkit-box-shadow: 7px 6px 23px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: 7px 6px 23px -3px rgba(0,0,0,0.52);
    box-shadow: 7px 6px 23px -3px rgba(0,0,0,0.52);
}




/* --------------------------------------- */